html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#navi{
display: grid;
grid-template-rows: 30px;
grid-template-columns: 50px 1fr 50px 50px;
grid-template-areas: 
"logo . image signin"
}
#word{
    display:grid;
    grid-template-rows: 50px;
    grid-template-columns: 50px 1fr;
    grid-template-areas: 
    ". words";
}
#logo{
    grid-area: logo;
}
#menu{
    grid-area: image;
}
#signin{
    grid-area: signin;
    justify-self: flex-start;
    align-self: center;
    text-decoration: none;
}
#words{
    grid-area: words;
    align-self: flex-end;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d93025;
}
#main{
    display:grid;
    grid-template-columns: 50px 200px 500px 500px;
    grid-template-rows: 50px 50px 50px 50px;
    margin-top: 25px;
    grid-template-areas: 
    ". searchVar1 in1 text1"
    ". searchVar2 in2 text2"
    ". searchVar3 in3 text3"
    ". searchVar4 in4 text4"
    ;
}
#text1{
    grid-area:text1;
    align-self: center;
    margin-left: 35px;
    font-size: 11px;
}
#text2{
    grid-area:text2;
    align-self: center;
    margin-left: 35px;
    font-size: 11px;
}
#text3{
    grid-area:text3;
    align-self: center;
    margin-left: 35px;
    font-size: 11px;
}
#text4{
    grid-area:text4;
    align-self: center;
    margin-left: 35px;
    font-size: 11px;
}
#searchVar1{
    grid-area: searchVar1;
    align-self: center;
    font-size: 13px;
}
#searchVar2{
    grid-area: searchVar2;
    align-self: center;
    font-size: 13px;
}
#searchVar3{
    grid-area: searchVar3;
    align-self: center;
    font-size: 13px;
}
#searchVar4{
    grid-area: searchVar4;
    align-self: center;
    font-size: 13px;
}
#in1{
    grid-area:in1;  
    height:25px;
    outline: none;
    align-self:center;
    margin:-25px;
}
#in2{
    grid-area:in2;  
    height:25px;
    outline: none;
    align-self:center;
    margin:-25px;
}
#in3{
    grid-area:in3;  
    height:25px;
    outline: none;
    align-self:center;
    margin:-25px;
}
#in4{
    grid-area:in4;  
    height:25px;
    outline: none;
    align-self:center;
    margin:-25px;
}
#buttons{
    display:grid;
    grid-template-rows: 260px;
    grid-template-columns: 750px;
    grid-template-areas: 
    "flex";
}
#flex{
    display:flexbox;
    grid-area:flex;
    justify-self: flex-end;
    align-self:flex-end;
}
#google{
    border:none;
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    color: grey;
}
#adv{
    padding: 7px 15px 7px 15px;
    font-weight: bold;
    color: white;
    border-radius:5px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
}
#adv:hover{
    cursor: pointer;
}
input:focus {
    border:1px solid #4D90FE;
    box-shadow: 0px 0px 5px  #4D90FE;
}
