html {
    height: 100%;
    width: 100%;
}

/*Navbar*/
#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . adv gmail image menu sign-in";
    margin: 0 20px 0 10px;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:black;
    font-size: 13px;
}
#adv{
    grid-area:adv;
    justify-self: flex-end;
    align-self:center;
}
#about {
    grid-area: about;
    justify-self: center;
    align-self:center;
}
#store {
    grid-area: store;
    justify-self: center;
    align-self:center;
}
#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self:center;
}
#image {
    grid-area: image;
    justify-self: center;
    align-self:center;
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self:center;
}
#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self:center;
}

/*Main Search Area*/
#main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:250px 70px 70px 200px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". google-text ."
    ;
}
#logo{
    grid-area: logo;
    display:flexbox;
    justify-self:center;
    align-self: flex-end;
}
#search {
    grid-area: search;
    height:30px;
    border-radius: 30px;
    align-self: center;
}
#google-search-btn{
    grid-area: google-search-btn;
}
#random-search-btn{
    grid-area: random-search-btn;
}
#google-text{
    grid-area: google-text;
    justify-self: center;
}
#flexbox{
    display:flexbox;
    grid-area:flexbox;
    justify-self: center;
    align-self:center;
}



